* {
  box-sizing: border-box;
}

html {
  font-family: Cinzel, serif;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
}

body {
  margin: 0;
}

.page {
  scroll-behavior: smooth;
  max-width: 375px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;

  background-image: url('../images/header-bg-mobile.png');
  background-position: center;
  background-size: cover;
}

.header__bottom {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  padding: 0 20px 40px;
}

.header__title {
  margin: 0;

  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  line-height: 100%;
  color: #fff;
  text-align: center;
  letter-spacing: -1.5px;
}

.icon {
  display: block;

  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon--phone {
  background-image: url('../images/icon-Phone-call.png');
}

.icon--menu {
  background-image: url('../images/icon-Burger-menu.png');
}

.icon--close {
  background-image: url('../images/icon-Close.png');
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 20px;
}

.top-bar__icons {
  display: flex;
  gap: 24px;
}

.top-bar__logo {
  display: flex;
}

.page__menu {
  pointer-events: none;

  position: fixed;
  inset: 0;

  box-sizing: border-box;
  max-width: 375px;
  height: 100vh;
  margin: 0 auto;

  font-weight: 700;
  text-transform: uppercase;

  opacity: 0;
  background-color: #d12d35;

  transition: opacity 0.3s;
}

.page__menu:target {
  pointer-events: all;
  opacity: 1;
}

.menu__top {
  margin-bottom: 32px;
}

.menu__nav {
  margin-bottom: 40px;
  padding-inline: 20px;
}

.menu__phone__number {
  display: block;

  margin-bottom: 16px;

  font-size: 16px;
  line-height: 27px;
  color: inherit;
  text-decoration: none;
}

.menu__call-to-order {
  display: block;

  width: fit-content;
  padding-bottom: 7px;
  border-bottom: 1px #fff;

  font-size: 22px;
  line-height: 16px;
  color: inherit;
  text-decoration: none;
  letter-spacing: 2px;
}

.nav__link {
  font-size: 22px;
  line-height: 22px;
  color: inherit;
  text-decoration: none;
  letter-spacing: 1px;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 22px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.main {
  padding: 40px 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  margin: 0 0 16px;
  font-size: 24px;
}

.footer {
  height: 80px;
}
